body{
	font-size: 14px;
	color: 696763;
	font-family: sans-serif;
}
.header-top{
	background-color: black;
}
.header-top .image img{
	margin-top: 7px;
}
.header-top .sign a{
	color: white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding-top: 13px;
	padding-bottom: 13px;
	/*margin-top: 10px;*/
}
.header-top .sign a i{
	padding-top: 12px;
	margin-right: 4px;
	margin-left: 4px;
}
.header-top .nav-pills > li{
	float: none;
	display: inline-block;
}
.header-top .nav-pills > li > a{
	color:white;
	border-right: 1px solid white;
}
.header-top .nav-pills > li > a:hover{
	background-color: black;
	border-bottom: 1px solid yellow;
}
.header-top .dropdown button{
	margin-top: 9px;
	background-color: black;
	color: white;
	border: none;
	margin-right: 5px;
}
/*.header-top .search{
	margin-top: 1px;
}*/
.header-top .search input{	
	margin-top: 7px;
	margin-right: 6px;
	height: 25px;
	width: 100%;
	border: none;
	padding: 5px;
	background-image: url(../images/searchicon.png);
	background-repeat: no-repeat;
	background-position: 95% 46%;
}
.main-top{
	background-color: #f6f6f6;
	padding-bottom: 15px;
	cursor: pointer;
	position: relative;
}
.image1{
	padding-top: 20px;
}
.image1 img:hover{
	opacity: 0.8;
}
.image1 p{
	color: #4a4a4a;
	font-weight: bold;
	padding-bottom: 6px;
	font-size: 18px;
}
.image2 p{
	color: #4a4a4a;
	font-weight: 400;
	text-align: right;
	padding-top: 20px;
	padding-bottom: 6px;
	font-size: 18px;
}
.image3{
	padding-top: 5px;
}
.image2 img{
	margin-bottom: 12px;
}
.image2 img:hover{
	opacity:0.8;
}
.image3 img:hover{
	opacity:0.8;
}
.carousel-caption{
	position: absolute;
	bottom: -20px;
	left: 16px;
	text-align: left;
}
.carousel-caption h4{
	color: white;
	font-size: 22px;
	font-weight: 600;
	margin-left: 12px;
}
.carousel-caption h5{
	color: white;
	font-size: 17px;
	font-weight: 500;
	margin-left: 12px;
}
.carousel-caption h6{
	color: white;
	font-size: 12px;
	font-weight: 600;
	border-left: 1px solid red;
	padding-left: 5px;
	margin-left: 12px;
}
.carousel-caption h6:hover{
	text-decoration: underline;
}
.main-mid{
	cursor: pointer;
	color: #767676;
}
.para p{
	color:#4a4a4a;
	font-size: 20px;
	font-weight: 800;
	border-left: 2px solid red;
	padding-left: 10px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.para p:hover{
	opacity:0.8;
}
.news img:hover{
	opacity:0.9;
}
.news img{
	width: 100%;
}
.news h4{
	color: black;
	font-size: 16px;
	padding:5px 0 5px;
	font-weight: 800;
}
.news h5{
	font-weight: 600;
	font-size: 12px;
	padding-bottom: 20px;
	color: #212121;
}
.news h6{
	font-size: 12px;
	font-weight: 600;
	border-left: 1px solid red;
	padding-left: 10px;
	margin-bottom: 20px;
}
.news h6:hover{
	text-decoration: underline;
}
.para1 p{
	color:#4a4a4a;
	font-size: 20px;
	font-weight: 800;
	border-left: 2px solid yellow;
	padding-left: 10px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.para1 p:hover{
	opacity:0.8;
}
.sport img:hover{
	opacity:0.9;
}
.sport img{
	width: 100%;
}
.sport h4{
	color: black;
	font-size: 15px;
	padding:5px 0 5px;
	font-weight: 800;
}
.sport h5{
	font-weight: 600;
	font-size: 11px;
	padding-bottom: 20px;
	color: #212121;
}
.sport h6{
	font-size: 12px;
	font-weight: 600;
	border-left: 1px solid yellow;
	padding-left: 10px;
	margin-bottom: 30px;
}
.sport h6:hover{
	text-decoration: underline;
}
.para2 p{
	color:#4a4a4a;
	font-size: 20px;
	font-weight: 800;
	border-left: 2px solid blue;
	padding-left: 10px;
	margin-top: 20px;
	margin-bottom: 15px;

}
.para2 p:hover{
	opacity:0.8;
}
.reel img:hover{
	opacity:0.9;
}
.reel img{
	width: 100%;
}
.reel h4{
	color: black;
	font-size: 15px;
	padding:5px 0 5px;
	font-weight: 800;
}
.reel h5{
	font-weight: 600;
	font-size: 11px;
	padding-bottom: 20px;
	color: #212121;
}
.reel h6{
	font-size: 12px;
	font-weight: 600;
	border-left: 1px solid blue;
	padding-left: 10px;
	margin-bottom: 30px;
}
.reel h6:hover{
	text-decoration: underline;
}
.para3 p{
	color:#4a4a4a;
	font-size: 20px;
	font-weight: 800;
	border-left: 2px solid red;
	padding-left: 10px;
	margin-top: 20px;
	margin-bottom: 15px;

}
.para3 p:hover{
	opacity:0.8;
}
.india img:hover{
	opacity:0.9;
}
.india img{
	width: 100%;
}
.india h4{
	color: black;
	font-size: 15px;
	padding:5px 0 5px;
	font-weight: 800;
}
.india h5{
	font-weight: 600;
	font-size: 11px;
	padding-bottom: 20px;
	color: #212121;
}
.india h6{
	font-size: 12px;
	font-weight: 600;
	border-left: 1px solid red;
	padding-left: 10px;
	margin-bottom: 30px;
}
.india h6:hover{
	text-decoration: underline;
}
.main-bottom{
	background-color: #f6f6f6;
	padding-top: 20px;
	padding-bottom: 5px;
	cursor: pointer;
}
.big p{
	color:black;
	font-size: 25px;
	font-weight: 800;
	border-left: 2px solid blue;
	padding-left: 10px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.big img{
	margin-bottom: 12px;
	width:100%;
}
.big img:hover{
	opacity: 0.9;
}
.edit h4{
	color: black;
	font-size: 15px;
	padding:5px 0 5px;
	font-weight: 800;
}
.edit h5{
	font-weight: 600;
	font-size: 11px;
	padding-bottom: 20px;
	color: #212121;
}
.edit h6{
	font-size: 12px;
	font-weight: 600;
	border-left: 1px solid green;
	padding-left: 10px;
	margin-bottom: 30px;
}
.edit h6:hover{
	text-decoration: underline;
}
.carousel-captio{
	position: absolute;
	top: 330px;
	left: 16px;
	text-align: left;
}
.carousel-captio h4{
	color: white;
	font-size: 22px;
	font-weight: 600;
	margin-left: 12px;
}
.carousel-captio h5{
	color: white;
	font-size: 17px;
	font-weight: 500;
	margin-left: 12px;
}
.carousel-captio h6{
	color: white;
	font-size: 12px;
	font-weight: 600;
	border-left: 1px solid red;
	padding-left: 5px;
	margin-left: 12px;
}
.carousel-captio h6:hover{
	text-decoration: underline;
}
.carousel-capti{
	position: absolute;
	top: 300px;
	left: 16px;
	text-align: left;
}
.carousel-capti h4{
	color: white !important;
	font-size: 22px;
	font-weight: 600;
	margin-left: 12px;
}
.carousel-capti h5{
	color: white !important;
	font-size: 17px;
	font-weight: 500;
	margin-left: 12px;
}
.carousel-capti h6{
	color: white;
	font-size: 12px;
	font-weight: 600;
	border-left: 1px solid red;
	padding-left: 5px;
	margin-left: 12px;
}
.carousel-capti h6:hover{
	text-decoration: underline;
}
.list li:first-child{
	background-color: red !important;
	color: white !important;
	padding: 5px !important;
	font-size: 14px !important;
}
.list li:nth-child(odd){
	color: #d3d3d3;
	background-color:#595959;
	padding: 27px;
	text-align: left;
	padding-right: 80px;
}
.list span:hover{
	opacity: 0.8;
}
.list li:nth-child(even){
	color: #d3d3d3;
	background-color:#262626;
	padding: 27px;
	text-align: left;
	padding-right: 80px;
}
.list ul{
	list-style:none;
}
.boss p{
	font-size: 20px;
	color:black;
	font-weight: 1000;
	margin-top: 20px;
	margin-bottom: 5px;
}
.boss p:hover{
	opacity: 0.8;
}
.boss img:hover{
	opacity: 0.9;
}
.boss h6{
	font-size: 12px;
	font-weight: 600;
	border-left: 1px solid red;
	padding-left: 10px;
	margin-left: 10px;
}
.boss h6:hover{
	text-decoration: underline;
}
.boss h4{
	color: black;
	font-size: 20px;
	padding:5px 0 5px;
	font-weight: 900;	
	margin-left: 10px;
	margin-bottom: 35px;
}
.bbc{
	background-color: red;
}
.bbc p{
	padding-top: 8px;
	color: white;
	text-align: center;
}
.bbc:hover{
	text-decoration: underline;
}
.bbc1{
	background-color: #4a4a4a;
}
.bbc1 p{
	padding-top: 8px;
	color: white;
	text-align: left;
}
.bbc1:hover{
	text-decoration: underline;
}
.padding{
	padding-top: 30px;
	padding-bottom: 30px;
}
.u1 img{
	margin-bottom: 5px;
	width: 100%;
}
.u1 img:hover{
	opacity: 0.9;
}
.u1 h4{
	color: black;
	font-size: 15px;
	padding:5px 0 5px;
	font-weight: 800;
}
.u1 h5{
	font-weight: 600;
	font-size: 11px;
	padding-bottom: 20px;
	color: #212121;
}
.u1 h6{
	font-size: 12px;
	font-weight: 600;
	border-left: 1px solid red;
	padding-left: 10px;
	margin-bottom: 30px;
}
.bar h4{
	background-color: red;
	color: white;
	padding: 5px;
	font-size: 14px;	
}
.bar li:first-child{
	background-color: red !important;
	color: white !important;
	padding: 5px !important;
	font-size: 14px !important;
}
.bar li:nth-child(odd){
	color: #d3d3d3;
	background-color:#595959;
	padding: 23px;
	text-align: left;
}
.bar li:nth-child(even){
	color: #d3d3d3;
	background-color:#262626;
	padding: 23px;
	text-align: left;
}
.bar span:hover{
	opacity: 0.8;
}
.more p{
	color:black;
	font-size: 18px;
	font-weight: 800;
	border-left: 2px solid blue;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.boss1 p{
	font-size: 20px;
	color:black;
	font-weight: 1000;
	margin-top: 20px;
	margin-bottom: 5px;
}
.boss1 p:hover{
	opacity: 0.8;
}
.boss1 img:hover{
	opacity: 0.9;
}
.boss1 img{
	margin-bottom: 30px;
	width:100%;
}
.last p{
	color:black;
	font-size: 22px;
	font-weight: 900;
	border-left: 2px solid blue;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;	
}
.last p:hover{
	opacity: 0.8;
}
.last img{
	margin-bottom: 5px;
	width: 100%;
}
.last h4{
	color: black;
	font-size: 18px;
	padding:5px 0 5px;
	font-weight: 800;
	margin-left: 10px;
}
.last h6{
	font-size: 12px;
	font-weight: 600;
	border-left: 1px solid green;
	padding-left: 10px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-top: 5px;
}
.last img:hover{
	opacity: 0.9;
}
.last h6:hover{
	text-decoration: underline;
}
.carousel-capt{
	position: absolute;
	bottom: 30px;
	left: 16px;
	text-align: left;
}
.carousel-capt h4{
	color: white;
	font-size: 22px;
	font-weight: 600;
	margin-left: 12px;
}
.carousel-capt h5{
	color: white;
	font-size: 17px;
	font-weight: 500;
	margin-left: 12px;
}
.carousel-capt h6{
	color: white;
	font-size: 12px;
	font-weight: 600;
	border-left: 1px solid red;
	padding-left: 5px;
	margin-left: 12px;
}
.carousel-capt h6:hover{
	text-decoration: underline;
}
.footer p{
	font-size: 24px;
	color:black;
	font-weight: 1000;
	margin-top: 20px;
	margin-bottom: 5px;
	cursor: pointer;
}
.footer-top{
	background-color: #f6f6f6;
	padding-top: 20px;
	padding-bottom: 30px;
}
.footer a:hover{
	text-decoration: underline;
}
.footer a{
	color: black;
}
.footer h6{
	font-size: 18px;
	cursor: pointer;
}
.footer h6:hover{
	text-decoration: underline;
}
.footer-bottom{
	background-color: #4c4c4c;
	padding-top: 20px;
	padding-bottom: 30px;
}
.bottom{
	color: white;
	padding-bottom: 20px;
}
.bottom p{
	font-size: 24px;
	font-weight: 900;
	margin-top: 20px;
	margin-bottom: 25px;
}
.border{
	border-bottom: 1px solid white;
	padding-bottom: 18px;
}
.bottom h5{
	padding-bottom: 5px;
	font-weight: 700;
	border-right: 1px solid white;
	cursor: pointer;
}
.bottom h5:hover{
	text-decoration: underline;
}
.bottom li{
	display:inline-block;
	font-size:12px;
	padding:5px;
	cursor: pointer;
	padding-top: 10px;
}
.bottom li:hover{
	text-decoration: underline;
}
.bottom span{
	cursor: pointer;
}
.bottom span:hover{
	text-decoration: underline;
}
.bottom h6{
	padding-top: 10px;
	padding-bottom: 10px;
}

.feat p{
	color:black;
	font-size: 18px;
	font-weight: 800;
	border-left: 2px solid blue;
	padding-left: 10px;
	margin-top: 15px;
	margin-bottom: 15px;	
}
.feat img:hover{
	opacity: 0.9;
}
.feat img{
	width:100%;
}
.carousel-cap{
	position: absolute;
	bottom: 300px;
	left: 16px;
	text-align: left;
}
.carousel-cap h4{
	color: white;
	font-size: 22px;
	font-weight: 600;
	margin-left: 12px;
}
.carousel-cap h5{
	color: white;
	font-size: 17px;
	font-weight: 500;
	margin-left: 12px;
}
.carousel-cap h6{
	color: white;
	font-size: 12px;
	font-weight: 600;
	border-left: 1px solid red;
	padding-left: 5px;
	margin-left: 12px;
}
.carousel-cap h6:hover{
	text-decoration: underline;
}
.product-tabs{
	background-color: #4a4a4a;
}
.product-tabs .nav-tabs li a{
	color: white;
}
.product-tabs .nav-tabs li a:hover{
	background-color: orange;
	/*border-bottom: 1px solid white;*/
}
.tab-pane .product h5{
	color: white;
	margin-left: 10px;
}
.tab-pane .product h6{
	color: white;
	border-left: 1px solid orange;
	padding-left: 10px;
	margin-left:10px;
}
@media only screen and (max-width:992px) {
	/*header-top .image img{
		display:block;
		margin:auto;*/
	.container{
		width: 100%;
	}
	.main-top .image1 img{
		width: 100%;
		margin-bottom: 20px;
	}
	.main-top .image2 img{
		width:100%;
	}
	.main-top .image2{
		position: relative;
	}
	.main-top .image2 p{
		position: absolute;
		left: 600px;
		font-size:24px;
	}
	.main-top .image1 p{
		font-size:24px;
	}
	.main-top .carousel-caption h4{
		font-size: 30px;
	}
	.main-top .carousel-caption{
		margin-bottom: 15px;
	}
	.main-top .carousel-caption h5{
		font-size: 20px;
	}
	.main-top .carousel-caption h6{
		font-size: 15px;
	}
	.main-mid .para p{
		font-size: 24px;
	}
	.main-mid .news h4{
		font-size: 20px;
	}
	.main-mid .news h5{
		font-size: 16px;
	}
	.main-mid .news h6{
		font-size: 14px;
	}
	.main-mid .para1 p{
		font-size: 24px;
	}
	.main-mid .sport h4{
		font-size: 20px;
	}
	.main-mid .sport h5{
		font-size: 16px;
	}
	.main-mid .sport h6{
		font-size: 14px;
	}
	.main-mid .para2 p{
		font-size: 24px;
	}
	.main-mid .reel h4{
		font-size: 20px;
	}
	.main-mid .reel h5{
		font-size: 16px;
	}
	.main-mid .reel h6{
		font-size: 14px;
	}
	.main-mid .para3 p{
		font-size: 24px;
	}
	.main-mid .india h4{
		font-size: 20px;
	}
	.main-mid .india h5{
		font-size: 16px;
	}
	.main-mid .india h6{
		font-size: 14px;
	}
	.main-bottom .big p{
		font-size: 24px;
	}
	.main-bottom .edit h4{
		font-size: 20px;
	}
	.main-bottom .edit h5{
		font-size: 16px;
	}
	.main-bottom .edit h6{
		font-size: 14px;
	}
	.main-bottom .bar p{
		font-size: 24px;
	}
	.main-bottom .u1 h4{
		font-size: 20px;
	}
	.main-bottom .u1 h5{
		font-size: 16px;
	}
	.main-bottom .u1 h6{
		font-size: 14px;
	}

}
@media only screen and (max-width:600px) {

	.container{
		width:100%;
	}

}


































































